
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'MAHI', root_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex">
    <ul class="navbar-nav">
      
      <% if trainee_signed_in? %>
        <li class="nav-item active"><%= link_to 'Home', root_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Goals', goals_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Goal Steps', goal_goal_steps_path(current_trainee.goals.first), :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Workouts', root_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Measure', root_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'My Account', edit_trainee_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Sign out", destroy_trainee_session_path, :method => :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Sign in', new_trainee_session_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_trainee_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>



