<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal_step.name %>
</p>

<p>
  <strong>Goal steps date:</strong>
  <%= @goal_step.goal_steps_date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @goal_step.goal_id %>
</p>

<%= link_to 'Edit', edit_goal_step_path(@goal_step) %> |
<%= link_to 'Back', goal_steps_path %>
