<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Goal date:</strong>
  <%= @goal.goal_date %>
</p>


<%= render partial: 'shared/individual_goal_steps', locals: { :goal => @goal } %>


<%= link_to 'Edit', edit_goal_path(@goal), class: "btn btn-outline-info" %> |
<%= link_to 'Back', goals_path, class: "btn btn-outline-info"%>
